<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
    <!-- Template Main CSS File -->
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>
<body>

<div class="header">
  <h1><a href="/">Tamir's Blog</a></h1>
  
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <h1>{{specific_post.title}}</h1>
        <h5>{{specific_post.created_at}}</h5>
        <p>{{specific_post.body}}</p>
      </a>
    </div>
  </div>
</div>

</body>
</html>