


* {
    box-sizing: border-box;
  }
  
.header {
    padding: 2px;
    
    font-size: 40px;
    text-align: center;
    background: white;
    display: flex;
    align-items: center;
  }

.header_1,
.header_2,
.header_3 {
  display: flex;
  flex: 1 1 0;
}
.header_2{
  justify-content: space-around;
}
.header_3 {
  justify-content: flex-end;
  margin-right: 10px;
}
body {
    font-family: Arial;
    padding: 20px;
    background: grey;
  }
a {
    color: black;
    text-decoration: none;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.leftcolumn {   
    float: left;
    width: 100%;
}  
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }


.searchButton {
width: 40px;
height: 36px;
border: 1px solid #00B4CC;
background: #00B4CC;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}